.p-dialog .p-dialog-header {
  background-color: #fafafa;
  border-top: 8px solid #00d494;
  border-bottom: 3px solid #f6f6f6;
}

.p-dialog .p-dialog-content {
  padding: 1.25rem 1.5rem 2rem 1.5rem;
}

.p-dialog-header-icons {
  position: relative;
  right: -6px;
}
