.p-inputtext {
  border-radius: 4px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  &:focus {
    box-shadow: none;
  }
}
.p-inputtext:enabled:hover {
  box-shadow: none;
}
.p-inputtext:enabled:focus {
  box-shadow: none;
}
