.p-panel {
  display: block;
  box-shadow: 0px 2px 2px 0px #0000001a;
  border-radius: 16px;
  overflow: hidden;
}

.p-panel .p-panel-header {
  background: white;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  //   box-shadow: 0px 2px 2px 0px #0000001a;
}

.p-panel-expanded .p-panel-header .internal-border {
  border-bottom: 2px solid #c7eee8;
  margin-right: -30px;
}
.p-panel .p-panel-content {
  border: none;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  //   box-shadow: 0px 2px 2px 0px #0000001a;
}

.p-panel .p-panel-header .p-panel-header-icon {
  width: 2.5rem;
  height: 2.5rem;
  transform: scale(1.5);
}

.p-panel .p-panel-header .p-panel-header-icon:focus {
  box-shadow: none;
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
  background: white;
}
