.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #3b82f6;
  background: #ffffff;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 12px;
  height: 12px;
  transition-duration: 0.2s;
  background-color: #2563eb;
}
