<div>
  <h5>Button primary</h5>
  <p-button label="Información completa" styleClass="p-button-primary"></p-button>
  <span class="mx-5"></span>
  <p-button label="Información completa" styleClass="p-button-primary" [disabled]="true"></p-button>
  <span class="mx-5"></span>
  <p-button label="Información completa" styleClass="p-button-outlined" [disabled]="false"></p-button>
</div>
<div>
  <h5>Button secondary</h5>
  <p-button label="Limpiar" styleClass="p-button-secondary"></p-button>
  <span class="mx-5"></span>
  <p-button label="Limpiar" styleClass="p-button-secondary" [disabled]="true"></p-button>
  <span class="mx-5"></span>
  <p-button label="Limpiar" styleClass="p-button-outlined p-button-secondary" [disabled]="false"></p-button>
</div>
<div>
  <h5>Button danger</h5>
  <p-button label="Limpiar" styleClass="p-button-danger"></p-button>
  <span class="mx-5"></span>
  <p-button label="Limpiar" styleClass="p-button-danger" [disabled]="true"></p-button>
  <span class="mx-5"></span>
  <p-button label="Limpiar" styleClass="p-button-outlined p-button-danger" [disabled]="false"></p-button>
</div>
