.file-upload {
  border: 1px dashed #cecfd6;
  padding: 25px 33px;
  border-radius: 10px;
  .file-upload-empty {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: right;
    color: #a6a8ad;
  }
  .file-item {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background-color: #fafbff;
    border: 1px solid #f0f2fa;
    img {
      margin-right: 10px;
    }
    .pi {
      color: #e4496d;
      font-size: 12px;
      margin-left: 10px;
      display: inline-block;
    }
    & + .file-item {
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}
