.header-label {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
}

.pdf-item-container {
  display: flex;
  background-color: #fafbff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #58595c;
  border-radius: 5px;
  padding: 8px;
  span {
    display: inline-block;
    margin-left: 8px;
  }
}

.header-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}

.bar-custom {
  display: inline-block;
  background-color: #dddddd;
  width: 2px;
  height: 35px;
}

.icon-lupa-btn {
  border-radius: 50%;
  border: 1px solid #adb8cc80;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: white;
}

:host ::ng-deep .title-bar {
  .title {
    margin-left: 20px !important;
    display: inline-block;
  }

  button + .bar {
    display: none;
  }
}

.titulo-detalle-afiliacion {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  text-align: left;
  color: #4e5b88;
}

:host ::ng-deep {
  .tabla-afiliacion.p-datatable .p-datatable-thead > tr > th {
    background-color: #f0f2fa;
    border-bottom: 1px solid #10a16a80;
  }

  .tabla-afiliacion .tabla-historicos.p-datatable .p-datatable-thead > tr > th {
    background-color: #c7eee8;
    border-bottom: 0px;
  }

  .tabla-historicos {
    border: 2px solid #edeff2;
    border-radius: 10px;
    overflow: hidden;
  }

  .tabla-afiliacion .tabla-historicos.p-datatable .p-datatable-tbody > tr:last-child > td {
    border-bottom: 0px;
  }
}
