/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/primeng-custom';
@import 'assets/styles/colors';

html {
  font-size: 12px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

html,
body {
  padding-top: 60px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

.app-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.sardj .container {
  width: 100%;
  padding: 0 30px;
}
.sardj .main-footer {
  display: none;
}

.control-label {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  text-align: left;
  color: #58595c;
}

.link {
  color: #0c8ce9;
  text-decoration: underline;
}

.subtitulo-seccion {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: #353c57;
  margin: 16px 0;
}
