:root {
  --gris-principal-03: #cecfd6;
  --gris-tono-4: #909abf;
  --gris-principal-05: #f0f2fa;
  --gris-principal-05_5: #fafbff;
  --verde-secundario3: #c7eee8;
  --verde-secundario4: #e9faf7;
  --gris-principal-01: #58595c;
}

.gris-principal-01 {
  color: var(--gris-principal-01);
}

.gris-principal-03 {
  color: var(--gris-principal-03);
}

.gris-tono-4 {
  color: var(--gris-tono-4);
}

.gris-principal-05 {
  color: var(--gris-principal-05);
}

.gris-principal-05_5 {
  color: var(--gris-principal-05_5);
}

.verde-secundario3 {
  color: var(--verde-secundario3);
}

.verde-secundario4 {
  color: var(--verde-secundario4);
}
